<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tucci.management.model.dao.sys.SysRoleResMapper" >
  <resultMap id="BaseResultMap" type="cn.tucci.management.model.domain.sys.SysRoleRes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="res_id" property="resId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, res_id
  </sql>

  <insert id="insertList">
    INSERT INTO
    sys_role_res ( role_id, res_id )
    VALUES
    <foreach collection="resIds" item="item" separator=",">
      (#{roleId}, #{item})
    </foreach>
  </insert>
</mapper>